{:deps
 {:aliases [:shadow-cljs]}

 :dev-http
 {8090 {:roots ["target/demo/public" "classpath:public"]}}

 :builds
 {:demo {:target :browser
         :output-dir "target/demo/public/js"
         :asset-path "/js"
         :modules {:demo {:init-fn demo.core/init}}}

  :test {:target :browser-test
         :test-dir "target/test/browser"
         :devtools {:http-port 8091
                    :http-root "target/test/browser"}}

  :node-test {:target :node-test
              :output-to "target/test/node/run-tests.js"}}}
