{:deps
 {:aliases [:shadow-cljs]}

 :builds
 {:devcards {:target           :browser-test
             :ns-regexp        "-cards$"
             :test-dir         "target/devcards"
             :runner-ns        mui-bien.devcards
             :compiler-options {:devcards           true
                                :output-feature-set :es8}
             :js-options {:resolve {"devcards-marked" {:target :npm
                                                       :require "marked"}
                                    "devcards-syntax-highlighter" {:target :npm
                                                                   :require "highlight.js"}}}
             :devtools {:http-port 8090
                        :http-root "target/devcards"}}

  :test {:target :browser-test
         :test-dir "build/test/browser"
         :devtools {:http-port 8091
                    :http-root "build/test/browser"}}

  :node-test {:target :node-test
              :output-to "build/test/node/run-tests.js"}}}
